@import "../../styles/normalize.scss";
@import "../../styles/base";

a {
  color: var(--bth-app-blue);
  text-decoration: none;
  background-color: transparent;
}

a:focus,
a:hover {
  color: var(--bth-app-blue-dark-10);
  text-decoration: underline;
}

.marca-produto {
  align-items: center;
  border: 0;
  color: var(--bth-app-gray-light-40);
  display: flex;
  height: 100%;
  justify-content: start;
  position: relative;
  font-size: 18px;
  font-family: inherit;
  padding: 0px 11px;
  cursor: pointer;

  &--active {
    background-color: rgba(255, 255, 255, 0.15);
  }

  &:before {
    content: "";
    width: 28px;
    height: 28px;
    margin-right: -1px;
    border-radius: var(--bth-app-radius);
    background-color: var(--bth-app-brand-navy);
    background-image: url('data:image/svg+xml,<svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.2244 8.09737L11.6253 8.23742C11.8925 8.37746 12.2934 8.5175 12.5607 8.79759C13.496 9.35777 14.0305 10.6182 13.7633 11.7385C13.6297 13.1389 12.9615 14.3993 11.7589 15.0996C10.8235 15.7998 9.75456 16.2199 8.55194 16.36C8.01744 16.5 7.34932 16.5 6.81482 16.5H0C0.133622 15.7998 0.133622 15.2396 0.26725 14.6794L1.87074 5.2965C2.13798 4.17614 2.40523 2.91575 2.53886 1.7954C2.53886 1.51532 2.67248 1.37527 2.93972 1.37527C4.14234 1.09519 5.34496 0.815098 6.54757 0.675055C7.2157 0.53501 7.88381 0.53501 8.55194 0.53501C9.88818 0.394968 11.2244 0.675055 12.427 1.37527C13.7633 2.21553 14.4314 3.89606 14.1642 5.43654C14.0305 6.2768 13.496 6.97702 12.8279 7.39715C12.427 7.67724 12.0262 7.81729 11.6253 8.09737L11.2244 8.09737ZM3.8751 13.8392H4.14234C5.34497 13.8392 6.54757 13.8392 7.7502 13.8392C8.15106 13.8392 8.41831 13.6991 8.68556 13.6991C9.75456 13.279 10.4227 12.1586 10.2891 11.0383C10.2891 10.3381 9.75456 9.7779 9.08644 9.63786C8.81918 9.63786 8.55194 9.49781 8.15106 9.49781H4.81047H4.40959L3.8751 13.8392ZM5.61221 3.19584C5.47859 4.45623 5.21133 5.71663 5.07771 6.97702L5.21133 7.11707C6.28032 7.11707 7.34932 7.11707 8.28469 7.11707C8.95282 7.11707 9.62093 6.83698 10.0218 6.2768C10.6899 5.71663 10.8235 5.01641 10.5563 4.31619C10.4227 3.61597 9.88818 3.0558 9.22006 3.0558C8.01744 2.77571 6.81482 2.91575 5.61221 3.19584Z" fill="white"/></svg>');
    background-size: auto 14px;
    background-position: center;
    background-repeat: no-repeat; 
  }


  #produto_description{
    padding: 0 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    vertical-align: middle;
    border-radius: var(--bth-app-radius);
    background-color: var(--bth-app-brand-navy);
  }

  .marca-produto span {
    padding-top: 1px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
    text-decoration: none;
  }
}

.marca-produto__detalhes {
  cursor: default !important;
  visibility: hidden;
  position: absolute;
  background-color: var(--bth-app-gray-light-40);
  min-width: 462px;
  max-width: 462px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  padding: 16px;
  z-index: 1080;
  top: 40px;
  text-transform: none;
  color: var(--bth-app-gray-dark-30);
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 400px;
  &--show {
    visibility: visible;
  }
  &-solucoes {
    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;

      h4 {
        flex: 1;
        text-align: left;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
      }
      a {
        font-size: 14px;
        text-align: right;
      }
      button {
        color: var(--bth-app-gray) !important;
        border-radius: 2px;
        border: none;
        padding: 10px 16px;
        font-size: 22px;
        background-color: transparent;
        margin-right: -15px;
      }
    }

    &__body {
      text-align: center;

      .empty-state-container {
        display: flex;
        flex-direction: column;
        padding: 1.3em 1em;
        justify-content: center;
        align-items: center;

        .empty-list-store {
          background-image: url("https://cdn.betha.cloud/plataforma/design/kare/framework/0.1.6/assets/images/empty-store.svg");
          background-repeat: no-repeat;
          background-position-x: center;
          background-size: 220px;
          height: 180px;
          width: 220px;
        }

        .empty-inconsistency {
          background-image: url("https://cdn.betha.cloud/plataforma/design/kare/framework/0.1.6/assets/images/empty-inconsistencia-marca-produto-alerta.svg");
          background-repeat: no-repeat;
          background-position-x: center;
          background-size: 96px;
          height: 96px;
          width: 96px;
        }

        h3 {
          padding-top: 20px;
          font-weight: var(--bth-app-font-weight-regular);
          font-size: 16px;
        }
        a {
          font-size: 16px;
        }
      }

      .marca-produto__detalhes-solucoes__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-gap: 0.5em;
        padding: 16px 0px 0px 0px;
        list-style: none;

        li {
          // .marca-produto__detalhes-card {
          //   display: flex;
          //   flex-direction: column;
          //   justify-content: center;
          //   align-items: center;
          //   text-align: left;
          //   cursor: pointer;
          //   width: 100%;
          //   height: 100px;

          //   .marca-produto__detalhes__brand {
          //     -webkit-font-smoothing: antialiased;
          //     -moz-osx-font-smoothing: grayscale;
          //     font-style: normal;
          //     font-variant: normal;
          //     font-weight: normal;
          //     line-height: 1;
          //     text-transform: none;
          //     text-align: center;

          //     svg {
          //       width: 30px;
          //       height: 30px;
          //     }
          //   }

          //   .marca-produto__detalhes__name {
          //     font-size: 12px;
          //     margin-top: 10px;
          //     line-height: 1.3;
          //     text-align: center;
          //     color: var(--bth-app-gray-dark-30);
          //   }
          // }
        }
      }
    }
  }
}

// .marca-produto__detalhes-card {
//   background-color: var(--bth-app-gray-light-40);
//   border-radius: 2px;
//   position: relative;

//   &__body {
//     margin: 12px 4px 6px 4px;
//     padding: 0 10px;
//   }

//   &--bordered {
//     border: 1px solid var(--bth-app-gray-light-10);
//   }

//   &--clickable {
//     &:hover {
//       border: 1px solid var(--bth-app-blue);
//       cursor: pointer;
//     }
//   }
// }

// .block-text--hidden {
//   display: block;
//   max-width: 100%;
//   height: 30px;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

.bth,
.BTH {
  background: var(--bth-app-brand-color-default) !important;
  fill: var(--bth-app-brand-color-default);
}

/* Gestão Municipal */
.MUN,
.mun {
  fill: var(--bth-app-brand-brown);
  border-color: var(--bth-app-brand-brown);
  &.marca-produto:before,
  #produto_description{
    background-color: var(--bth-app-brand-brown);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-brown);
  }
}

/* Contábil */
.PLA,
.pla {
  fill: var(--bth-app-brand-lilac);
  border-color: var(--bth-app-brand-lilac);
  &.marca-produto:before,
  #produto_description{
    background-color: var(--bth-app-brand-lilac);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-lilac);
  }
}

/* Arrecadação */
.ARR,
.arr {
  fill: var(--bth-app-brand-lime);
  border-color: var(--bth-app-brand-lime);
  &.marca-produto:before,
  #produto_description{
    background-color: var(--bth-app-brand-lime);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-lime);
  }
}

/* Atendimento */
.ATE,
.ate {
  fill: var(--bth-app-brand-gray);
  border-color: var(--bth-app-brand-gray);
  &.marca-produto:before,
  #produto_description{
    background-color: var(--bth-app-brand-gray);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-gray);
  }
}

/* Contratos */
.COM,
.com {
  fill: var(--bth-app-brand-red);
  border-color: var(--bth-app-brand-red);
  &.marca-produto:before,
  #produto_description{
    background-color: var(--bth-app-brand-red);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-red);
  }
}

/* Pessoal */
.PES,
.pes {
  fill: var(--bth-app-brand-blue);
  border-color: var(--bth-app-brand-blue);
  &.marca-produto:before,
  #produto_description{
    background-color: var(--bth-app-brand-blue);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-blue);
  }
}

/* Saúde */
.SAU,
.sau {
  fill: var(--bth-app-brand-green);
  border-color: var(--bth-app-brand-green);
  &.marca-produto:before,
  #produto_description{
    background-color: var(--bth-app-brand-green);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-green);
  }
}

/* Educação */
.EDU,
.edu {
  fill: var(--bth-app-brand-yellow);
  border-color: var(--bth-app-brand-yellow);
  &.marca-produto:before,
  #produto_description{
    background-color: var(--bth-app-brand-yellow);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-yellow);
  }
}

/* Leis Municipais */
.LEI,
.lei {
  fill: var(--bth-app-brand-orange);
  border-color: var(--bth-app-brand-orange);
  &.marca-produto:before,
  #produto_description{
    background-color: var(--bth-app-brand-orange);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-orange);
  }
}

/* Componentes Genéricos / Performance Corporativa / Suporte */
.GEN,
.gen,
.PEC,
.pec,
.SUP,
.sup {
  fill: var(--bth-app-brand-navy);
  border-color: var(--bth-app-brand-navy);
  &.marca-produto:before,
  #produto_description{
    background-color: var(--bth-app-brand-navy);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-navy);
  }
}

.loader-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  height: 349px;

  &--show {
    display: flex;
  }
}

/* Media queries */
@media (max-width: 991px) {
  .marca-produto__detalhes {
    position: fixed;
    background-color: var(--bth-app-gray-light-40);
    -webkit-box-shadow: inset;
    box-shadow: inset;
    top: 0;
    max-height: 100vh;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    &--show {
      display: block;
    }
    &-solucoes {
      &__header {
        h4 {
          font-size: 20px;
        }
      }
      &__body {
        .empty-state-container {
          height: 80vh;
          .empty-list-store {
            width: 60%;
          }
          h3 {
            font-size: 24px;
          }
          a {
            font-size: 24px;
          }
        }

        .marca-produto__detalhes-solucoes__list {
          grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
        }
      }
    }
  }

  .loader-wrapper {
    height: 80vh;
  }
}

@media (max-width: 576px) {
  .marca-produto__detalhes {
    &-solucoes {
      &__body {
        .empty-state-container {
          .empty-list-store {
            width: 85%;
          }
          .empty-inconsistency {
            width: 85%;
          }
          h3 {
            font-size: 20px;
          }
          a {
            font-size: 20px;
          }
        }
      }
    }
  }
}
