@import "../../styles/normalize.scss";
@import "../../styles/base";

a {
  color: var(--bth-app-blue);
  text-decoration: none;
  background-color: transparent;
}

a:focus,
a:hover {
  color: var(--bth-app-blue-dark-10);
  text-decoration: underline;
}

.marca-produto {
  align-items: center;
  border: 0;
  color: var(--bth-app-carbono);
  display: flex;
  height: 100%;
  justify-content: start;
  position: relative;
  font-size: 18px;
  font-family: inherit;
  padding: 0px 11px;
  cursor: pointer;

  &--active {
    background-color: rgba(255, 255, 255, 0.15);
  }

  &:before {
    content: "";
    width: 26px;
    height: 26px;
    margin-right: -1px;
    border-radius: 6px;
    background-color: var(--bth-app-brand-navy);
    background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0615 12.1583C13.0615 10.8729 12.2145 10.2299 10.5416 10.2299H5.7927L4.83646 15.0996H9.36361C10.3647 15.1662 11.3551 14.8742 12.1277 14.2847C12.4388 14.0116 12.6831 13.6807 12.8444 13.3139C13.0056 12.9472 13.0801 12.553 13.0628 12.1577L13.0615 12.1583ZM13.6315 4.94967C13.6315 1.83092 9.1563 2.85416 7.11616 3.06788L6.32642 7.41511H10.3745C11.218 7.43719 12.0407 7.17175 12.6844 6.66978C12.9748 6.46849 13.2113 6.20871 13.3757 5.91034C13.5401 5.61196 13.628 5.28294 13.6328 4.94846L13.6315 4.94967ZM8.8233 17.9907H0L3.20896 1.06743C5.94574 0.385172 8.76585 0.0264733 11.6012 0C14.6568 0 18 1.23999 18 4.57004C18 6.63709 16.3363 7.82864 14.2679 8.49949L14.2343 8.59819C16.3617 9.37439 17.4263 10.5117 17.4281 12.01C17.4496 12.866 17.2408 13.7136 16.8202 14.4775C16.3997 15.2413 15.7804 15.8977 15.0174 16.3881C13.1924 17.5185 11.0213 18.0803 8.8233 17.9907Z" fill="%231C1A23"/></svg>');
    background-size: auto 14px;
    background-position: center;
    background-repeat: no-repeat;
  }

  #produto_description {
    padding: 0 16px;
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    vertical-align: middle;
    border-radius: 6px;
    background-color: var(--bth-app-brand-navy);
  }

  .marca-produto span {
    padding-top: 1px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
    text-decoration: none;
  }
}

.marca-produto__detalhes {
  cursor: default !important;
  visibility: hidden;
  position: absolute;
  background-color: var(--bth-app-gray-light-40);
  min-width: 462px;
  max-width: 462px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  padding: 16px;
  z-index: 1080;
  top: 40px;
  text-transform: none;
  color: var(--bth-app-gray-dark-30);
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 400px;
  &--show {
    visibility: visible;
  }
  &-solucoes {
    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;

      h4 {
        flex: 1;
        text-align: left;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
      }
      a {
        font-size: 14px;
        text-align: right;
      }
      button {
        color: var(--bth-app-gray) !important;
        border-radius: 2px;
        border: none;
        padding: 10px 16px;
        font-size: 22px;
        background-color: transparent;
        margin-right: -15px;
      }
    }

    &__body {
      text-align: center;

      .empty-state-container {
        display: flex;
        flex-direction: column;
        padding: 1.3em 1em;
        justify-content: center;
        align-items: center;

        .empty-list-store {
          background-image: url("https://cdn.betha.cloud/plataforma/design/kare/framework/0.1.6/assets/images/empty-store.svg");
          background-repeat: no-repeat;
          background-position-x: center;
          background-size: 220px;
          height: 180px;
          width: 220px;
        }

        .empty-inconsistency {
          background-image: url("https://cdn.betha.cloud/plataforma/design/kare/framework/0.1.6/assets/images/empty-inconsistencia-marca-produto-alerta.svg");
          background-repeat: no-repeat;
          background-position-x: center;
          background-size: 96px;
          height: 96px;
          width: 96px;
        }

        h3 {
          padding-top: 20px;
          font-weight: var(--bth-app-font-weight-regular);
          font-size: 16px;
        }
        a {
          font-size: 16px;
        }
      }

      .marca-produto__detalhes-solucoes__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-gap: 0.5em;
        padding: 16px 0px 0px 0px;
        list-style: none;
      }
    }
  }
}

.bth,
.BTH {
  background: var(--bth-app-brand-color-default) !important;
  fill: var(--bth-app-brand-color-default);
}

/* Gestão Municipal */
.MUN,
.mun {
  fill: var(--bth-app-brand-brown);
  border-color: var(--bth-app-brand-brown);
  &.marca-produto:before,
  #produto_description {
    background-color: var(--bth-app-brand-brown);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-brown);
  }
}

/* Contábil */
.PLA,
.pla {
  fill: var(--bth-app-brand-lilac);
  border-color: var(--bth-app-brand-lilac);
  &.marca-produto:before,
  #produto_description {
    background-color: var(--bth-app-brand-lilac);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-lilac);
  }
}

/* Arrecadação */
.ARR,
.arr {
  fill: var(--bth-app-brand-lime);
  border-color: var(--bth-app-brand-lime);
  &.marca-produto:before,
  #produto_description {
    background-color: var(--bth-app-brand-lime);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-lime);
  }
}

/* Atendimento */
.ATE,
.ate {
  fill: var(--bth-app-brand-gray);
  border-color: var(--bth-app-brand-gray);
  &.marca-produto:before,
  #produto_description {
    background-color: var(--bth-app-brand-gray);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-gray);
  }
}

/* Contratos */
.COM,
.com {
  fill: var(--bth-app-brand-red);
  border-color: var(--bth-app-brand-red);
  &.marca-produto:before,
  #produto_description {
    background-color: var(--bth-app-brand-red);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-red);
  }
}

/* Pessoal */
.PES,
.pes {
  fill: var(--bth-app-brand-blue);
  border-color: var(--bth-app-brand-blue);
  &.marca-produto:before,
  #produto_description {
    background-color: var(--bth-app-brand-blue);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-blue);
  }
}

/* Saúde */
.SAU,
.sau {
  fill: var(--bth-app-brand-green);
  border-color: var(--bth-app-brand-green);
  &.marca-produto:before,
  #produto_description {
    background-color: var(--bth-app-brand-green);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-green);
  }
}

/* Educação */
.EDU,
.edu {
  fill: var(--bth-app-brand-yellow);
  border-color: var(--bth-app-brand-yellow);
  &.marca-produto:before,
  #produto_description {
    background-color: var(--bth-app-brand-yellow);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-yellow);
  }
}

/* Leis Municipais */
.LEI,
.lei {
  fill: var(--bth-app-brand-orange);
  border-color: var(--bth-app-brand-orange);
  &.marca-produto:before,
  #produto_description {
    background-color: var(--bth-app-brand-orange);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-orange);
  }
}

/* Componentes Genéricos / Performance Corporativa / Suporte */
.GEN,
.gen,
.PEC,
.pec,
.SUP,
.sup {
  fill: var(--bth-app-brand-navy);
  border-color: var(--bth-app-brand-navy);
  color: var(--bth-app-gray-light-40);
  &.marca-produto:before {
    background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0615 12.1583C13.0615 10.8729 12.2145 10.2299 10.5416 10.2299H5.7927L4.83646 15.0996H9.36361C10.3647 15.1662 11.3551 14.8742 12.1277 14.2847C12.4388 14.0116 12.6831 13.6807 12.8444 13.3139C13.0056 12.9472 13.0801 12.553 13.0628 12.1577L13.0615 12.1583ZM13.6315 4.94967C13.6315 1.83092 9.1563 2.85416 7.11616 3.06788L6.32642 7.41511H10.3745C11.218 7.43719 12.0407 7.17175 12.6844 6.66978C12.9748 6.46849 13.2113 6.20871 13.3757 5.91034C13.5401 5.61196 13.628 5.28294 13.6328 4.94846L13.6315 4.94967ZM8.8233 17.9907H0L3.20896 1.06743C5.94574 0.385172 8.76585 0.0264733 11.6012 0C14.6568 0 18 1.23999 18 4.57004C18 6.63709 16.3363 7.82864 14.2679 8.49949L14.2343 8.59819C16.3617 9.37439 17.4263 10.5117 17.4281 12.01C17.4496 12.866 17.2408 13.7136 16.8202 14.4775C16.3997 15.2413 15.7804 15.8977 15.0174 16.3881C13.1924 17.5185 11.0213 18.0803 8.8233 17.9907Z" fill="white"/></svg>');
  }
  &.marca-produto:before,
  #produto_description {
    font-weight: 600;
    background-color: var(--bth-app-brand-navy);
  }
  &.bth__brand {
    --bth-app-brand-color-default: var(--bth-app-brand-navy);
  }
}

.loader-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  height: 349px;

  &--show {
    display: flex;
  }
}

/* Media queries */
@media (max-width: 991px) {
  .marca-produto__detalhes {
    position: fixed;
    background-color: var(--bth-app-gray-light-40);
    -webkit-box-shadow: inset;
    box-shadow: inset;
    top: 0;
    max-height: 100vh;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    &--show {
      display: block;
    }
    &-solucoes {
      &__header {
        h4 {
          font-size: 20px;
        }
      }
      &__body {
        .empty-state-container {
          height: 80vh;
          .empty-list-store {
            width: 60%;
          }
          h3 {
            font-size: 24px;
          }
          a {
            font-size: 24px;
          }
        }

        .marca-produto__detalhes-solucoes__list {
          grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
        }
      }
    }
  }

  .loader-wrapper {
    height: 80vh;
  }
}

@media (max-width: 576px) {
  .marca-produto__detalhes {
    &-solucoes {
      &__body {
        .empty-state-container {
          .empty-list-store {
            width: 85%;
          }
          .empty-inconsistency {
            width: 85%;
          }
          h3 {
            font-size: 20px;
          }
          a {
            font-size: 20px;
          }
        }
      }
    }
  }
}
