@import "../../styles/normalize.scss";
@import "../../styles/base";

.descricao-mobile {
  text-decoration: none;
  padding: 0 16px;
}

.painel-utilitarios {
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 0.6em;
    padding: 0px;
    list-style: none;
  }
}

/* Media queries */
@media (max-width: 991px) {
  .painel-utilitarios {
    ul {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
}

@media (max-width: 576px) {
  .painel-utilitarios {
    ul {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
}
