@import '../../../styles/normalize.scss';

.desktop {
  //display: block;
  display: inline-block;
  flex-direction: row;
  position: relative;

  bth-icone {
    font-size: 18px;
  }

  .badge {
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    min-width: 10px;
    text-align: center;
    border-radius: 50px;
    font-size: 11px;
    font-weight: var(--bth-app-font-weight-semi-bold);
    padding: 2px 5px;
    background-color: var(--bth-app-red);
    color: var(--bth-app-gray-light-40);
    right: -5px;
  }

  .status {
    padding: 4px 4px;
    right: -4px;
    top: 1px;
    color: var(--bth-app-gray-light-40);
    border: 2px solid var(--bth-app-menu-item-hover-color, var(--bth-app-menu-bg-color));
    transition: background-color 0.3s ease-in-out;

    &--success {
      background-color: #33dd5c;
    }
    &--danger {
      //background-color: var(--bth-app-red);
      background-color: #E1E3E6;
    }
  }
}

.mobile {
  display: inline-block;
  flex-direction: row;
  align-items: center;

  .badge {
    white-space: nowrap;
    display: inline-block;
    min-width: 10px;
    border-radius: 50px;
    font-size: 11px;
    font-weight: var(--bth-app-font-weight-semi-bold);
    position: absolute;
    margin: -2px -12px;
    padding: 1px 5px;
    background-color: var(--bth-app-red);
    color: var(--bth-app-gray-light-40);
  }

  bth-icone {
    color: var(--bth-app-gray-dark-20);
    font-size: 20px;
  }
}
