@import '../../styles/normalize.scss';
@import "../../styles/base";

.suporte {

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 0.6em;
    padding: 0;
    list-style: none;
  }
}

.chat-status {
  display: flex;
  align-items: center;

  span {
    margin: 0 0 0.22rem 0.5rem;
  }

  .badge {
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    font-size: 12px;
    padding: 3px 6px;
    background-color: var(--bth-app-red);
    color: var(--bth-app-gray-light-40);
  }

  .status {

    &--success {
      background-color: var(--bth-app-green-dark-10);
    }
    &--danger {
      background-color: var(--bth-app-red);
    }
  }
}

.descricao-mobile {
  text-decoration: none;
  padding: 0 16px;
}

.descricao-desktop {
  text-decoration: none;
  padding-right: 6px;
}
