:host {
  display: block;
}
iframe {
  height: 220px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1080;
}

iframe.faces{
  width: 100%;
  max-width: 500px;
  height: 380px;
  right: 0;
  left: auto;
}
