@import "../../../styles/normalize.scss";

.notificacao {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--bth-app-gray-light-10);
  padding: 12px 8px;

  &:hover,
  &:focus {
    background-color: var(--bth-app-gray-light-30);
  }

  &--unread {
    cursor: pointer;
  }

  &__body {
    display: flex;

    .icon {
      width: 34px;
      display: flex;
      justify-content: center;
      margin-right: 12px;
      margin-top: -5px;
      font-size: 28px;
      color: var(--bth-app-blue);
    }

    .mensagem {
      width: calc(100% - 15px);
      margin: 2px 12px 8px 0px;
    }

    .marcar-leitura__toggler {
      font-size: 16px;
      color: var(--bth-app-gray-dark-20);
      margin-top: 4px;
    }
  }

  &__progress {
    $root: &;
    overflow: hidden;
    position: relative;
    width: 100%;
    &__bar {
      height: 4px;
      transition: width var(--bth-app-transition-delay) linear;
      &:before {
        background-color: var(--bth-app-blue);
        content: "";
        display: block;
        height: 4px;
        position: relative;
        width: 100%;
        z-index: 2;
      }
      &:after {
        background-color: var(--bth-app-gray-light-10);
        content: "";
        height: 4px;
        left: 0;
        position: absolute;
        transform: translateY(-4px);
        width: 100%;
        z-index: 1;
      }
    }
    &__percent {
      color: var(--bth-app-gray-dark-30);
      font-size: 12px;
      font-weight: var(--bth-app-font-weight-semi-bold);
      text-align: center;
      width: 100%;
    }
    &__description {
      color: var(--bth-app-gray-dark-30);
      display: flex;
      font-size: 12px;
      font-weight: 500;
      justify-content: space-between;
      line-height: 12px;
      margin-top: 2px;
    }
    &--indeterminate {
      #{$root}__bar {
        &:after {
          transform: translateY(0);
        }
        &:before {
          animation: indeterminate-animation 2s infinite ease-in-out;
          position: absolute;
        }
      }
    }
  }

  &__footer {
    margin-top: 8px;
    display: inline-block;
    font-size: 12px;
    color: var(--bth-app-gray-dark-10);

    .float-right {
      float: right;
    }

    a {
      color: var(--bth-app-blue);
      text-decoration: none;
      &:hover {
        color: var(--bth-app-blue-dark-10);
        text-decoration: underline;
      }
    }
  }

}

@keyframes indeterminate-animation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
